/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  height: 100%;
  width: 260px;
  background: #ffffff;
  padding: 15px;
  z-index: 100;
  overflow-y: scroll;
}
.logo {
  font-size: 25px;
  padding: 0 15px;
  color: #a6e256;
  overflow-y: fixed;
}
.logo1 {
  font-size: 25px;
  padding: 0 15px;
  color: #fff;
  text-decoration: none;
}
.sidebar a {
  color: #3d3d3d;
  text-decoration: none;
}
.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  overflow-y: scroll;
}
.menu-content::-webkit-scrollbar {
  display: none;
}
.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}
.submenu-active .menu-items {
  transform: translateX(-56%);
}
.menu-title {
  color: #615e5e;
  font-size: 20px;
  padding: 15px 20px;
  overflow-y: fixed;
}
.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
  border-style: solid;
}
.item i {
  font-size: 12px;
}
.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  background: rgba(97, 94, 94, 0.1);
}
.navbar,
.main {
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
}
.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
  left: 0;
  width: 100%;
}
.navbar {
  position: fixed;
  color: #fff;
  padding: 15px 20px;
  font-size: 25px;
  background: #4070f4;
  cursor: pointer;
}
.navbar #sidebar-close {
  cursor: pointer;
}
.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 100;
}
.main h1 {
  color: #11101d;
  font-size: 40px;
  text-align: center;
}
#notificationButton {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
}

#map-canvas {
  height: 100%;
  width: 100%;
  position: absolute;
}
